<body>
	<h1>
		Hello <%= locals.name %>
	</h1>
	<p>
		Intro text
	</p>

	<div class="products">
		<div class="product-row">
			<img class="product-image" src="www.weaveuk.com/images/menDay2/item1.jpg">
			<span class="product-name">Test name</span>
		</div>
	</div>
</body>