<body>
	<h1>
		Hello <%= locals.name %>
	</h1>
	<p>
		Intro text
	</p>

	<div class="products">
		<h1><%= locals.email %></h1>
		<% for(var i=0; i< locals.products.length; i++) { %>
			<div class="product-row">
  				<img src="http://weaveuk.com<%=locals.products[i].imageUrl%>">
  			</div>
		<% } %>
	</div>
</body>