h1 {
	color: green;
}

.product-row {
	max-height: 100px;
}

.product-table {
	width: 100%;
}

.image-cell {
	width: 30%;
}

.info-cell {
	width: 70%;
	vertical-align: middle;
}

.product-image {
	max-height: 100px;
	width: auto;
	display: inline-block;
}

.product-name {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 45px;
}