extends layout

block content
  .container
    ul
    -for(var i = 0; i < data.length; i++) {
    -var element = data[i];
      .row
        .col-xs-1
        .col-xs-10
          hr
      li.collection(data-collectionName="#{element.name}")
        a(href="/collection/#{element.name}") #{element.name}
        span.through 0/
        span.size #{element.size}
    -}     



  script(src="/javascripts/collections.js", type="text/javascript")