extends layout

block content
  .container
    h4 Before Weave reveals your collection, tell us who you are!
    .col-xs-3
    .col-xs-6
      form(role='form', id="emailForm")
        .form-group
          input#InputEmail.form-control(type='email', placeholder='Enter email')
          .row
            .col-xs-4
            .col-xs-4
              button.btn.btn-primary#showHanger Go
            .col-xs-4
    .col-xs-3
    h4#multi If you like Weave maybe your friends will too. Spread the word!
    .row
      .col-xs-4
      .col-xs-4
        button#tweet.btn.btn-primary(href="http://clicktotweet.com/_bbna") Share on Twitter
      .col-xs-4
    .row
      .col-xs-5
      .col-xs-2
        button#skip.btn Skip
      .col-xs-5


  script(src="/javascripts/email.js", type="text/javascript")