extends layout

block content

  script(type='text/javascript')
    mixpanel.track("Collection Complete", {"likes": localStorage.getObj("likes"), "like count": localStorage.getObj("likes").length})

  .container
    h4#before Before you leave weave, tell us who you are!
    .row
      .col-xs-3
      .col-xs-6
        form(role='form', id="emailForm")
          .form-group
            input#InputEmail.form-control(type='email', placeholder='Enter email')
      .col-xs-3
    .row
      .col-xs-4
      .col-xs-4
        button.btn.btn-primary#giveEmail Go
      .col-xs-4

  script(src="/javascripts/email.js", type="text/javascript")