extends layout

block content
  .container
    h1#thanks Thanks!
    h1 Help us out!
    p We're constantly trying to make our product better for you. Tell us what you thought of it below and we'll make some improvements. 
    form(role='form')
      .form-group
        label(for='email', class="emailLabel") Email address
        input#email.form-control(type='email', placeholder='Enter email')
      .form-group
        label(for='feedback') Feedback
        textarea#feedback.form-control(placeholder='What did you think?')
      button.btn.btn-default(id="feedbackButton", type='submit') Send




  script(src="/javascripts/feedback.js", type="text/javascript")