extends layout

block content
  .container
    h1#thanks Thanks!
    h1 We'd love to hear from you! 
    p Tell us your thoughts and we'll make some changes right away. 
    form(role='form')
      .form-group
        label(for='email', class="emailLabel") Email address
        input#email.form-control(type='email', placeholder='Enter email')
      .form-group
        
        textarea#feedback.form-control(placeholder='What do you think of Weave?')
      button.btn.btn-default(id="feedbackButton", type='submit') Send




  script(src="/javascripts/feedback.js", type="text/javascript")