extends layout

block content
  script(type='text/javascript')
    mixpanel.track("Landing Page Loaded")
  
  .container
    .onboarding
      h1.Landing Weave
      span.tagline.Landing - Discover clothes you love -
      h4.Landing Weave is Collections of clothes. You Weave through collections by liking and disliking items, this helps you build up your own Collection which you can share with friends and followers to find out how they Weave through.
      p.Landing We're going to take you through one of Weave's collections so you get the hang of it.
      button.btn.btn-primary.Landing#LetsGo Let's Go
      h3#Questions Before we play, we need to know two things about you...
      .row
        .col-md-4
        .col-xs-6.col-md-2
          a()
            img.female(src="/images/f.png", id="female")
        .col-xs-6.col-md-2
          a()
            img.male(src="/images/m.png", id="male")
        .col-md-4
      .row
        .col-md-4
        .col-xs-6.col-md-2
          a()
            a.btn.btn-primary#femaleButton Girl
        .col-xs-6.col-md-2
          a()
            a.btn.btn-primary#maleButton Boy
        .col-md-4
      .row
        .col-xs-2
        .col-xs-8
          form.age(role="form")
            .form-group
              label Age
              select.form-control
                option under 18
                option 18-21
                option 22-25
                option 26-30
                option 31-40
                option 40+
        .col-xs.2
      .row
        .col-xs-3
        .col-xs-6
          //- form(role='form', id="emailForm")
          //-   .form-group
          //-     input#InputEmail.form-control(type='email', placeholder='Enter email')
          button.btn.btn-primary#Play Play
        .col-xs-3


  script(src="/javascripts/onboarding.js", type="text/javascript")