extends layout

block content
  
    mixpanel.track_links(".play", "Clicked Play")
  <!-- Begin LaunchRock Widget -->
  div#lr-widget(rel="81SHJTYE")
  script(type="text/javascript" src="//ignition.launchrock.com/ignition-current.min.js")
  <!-- End LaunchRock Widget -->

  script(src="/javascripts/onboarding.js", type="text/javascript")