extends layout

block content
  .container
    .onboarding
      h1 Hey! Are you male or female?
      img(src="/images/f.png", id="female")
      img(src="/images/m.png", id="male")
      .btn-group.btn-group-vertical(id="age-group")
        button.btn.btn-success.age I'm under 18
        button.btn.btn-success.age 18-21
        button.btn.btn-success.age 22-25
        button.btn.btn-success.age 26-30
        button.btn.btn-success.age 30-40
        button.btn.btn-success.age 40+
      h1#almost Almost there, just one more!
      form(role="form")#emailForm
        .form-group
          input#inputEmail(type='text', placeholder='Enter email')
        button.btn.btn-success(type="submit")#emailButton Submit


  script(src="/javascripts/onboarding.js", type="text/javascript")