extends layout

block content
  .container
    .onboarding
      h1.Landing Weave
      span.tagline.Landing - Discover clothes you love -
      h4.Landing We show you new threads. You pick what you like.
      button.btn.btn-primary.Landing#LetsGo Let's go
      h3#Gender Are you male or female?
      .row
        .col-md-4
        .col-xs-6.col-md-2
          img.female(src="/images/f.png", id="female")
        .col-xs-6.col-md-2
          img.male(src="/images/m.png", id="male")
        .col-md-4
      h3#age How old are you?
      .btn-group.btn-group-vertical(id="age-group")
        button.btn.btn-success.age I'm under 18
        button.btn.btn-success.age 18-21
        button.btn.btn-success.age 22-25
        button.btn.btn-success.age 26-30
        button.btn.btn-success.age 30-40
        button.btn.btn-success.age 40+
      h4#explanation We are going to show you some new clothes that we want you to judge, it's not a test...
      .row
        .col-xs-3
        .col-xs-6
          //- form(role='form', id="emailForm")
          //-   .form-group
          //-     input#InputEmail.form-control(type='email', placeholder='Enter email')
          button.btn.btn-success#Play Play
        .col-xs-3


  script(src="/javascripts/onboarding.js", type="text/javascript")