extends layout

block content
  script(type='text/javascript')
    mixpanel.track("Landing Page Loaded")
  
  .container
    .onboarding
      h1.Landing Weave
      span.tagline.Landing - Discover clothes you love -
      h4.Landing We bring you new threads. You pick the things you like
      button.btn.btn-primary.Landing#LetsGo Let's Go
      h3#Gender Before we play, are you a girl or a boy?
      .row
        .col-md-4
        .col-xs-6.col-md-2
          a()
            img.female(src="/images/f.png", id="female")
        .col-xs-6.col-md-2
          a()
            img.male(src="/images/m.png", id="male")
        .col-md-4
      .row
        .col-md-4
        .col-xs-6.col-md-2
          a()
            a.btn.btn-primary#femaleButton Girl
        .col-xs-6.col-md-2
          a()
            a.btn.btn-primary#maleButton Boy
        .col-md-4

      h3#age and how old are you?
      .btn-group.btn-group-vertical(id="age-group")
        button.btn.btn-primary.age under 18
        button.btn.btn-primary.age 18-21
        button.btn.btn-primary.age 22-25
        button.btn.btn-primary.age 26-30
        button.btn.btn-primary.age 30-40
        button.btn.btn-primary.age 40+
      h4#explanation Weave shows you a collection of 20 pieces. Tell us if you'd wear them or not. 
      .row
        .col-xs-3
        .col-xs-6
          //- form(role='form', id="emailForm")
          //-   .form-group
          //-     input#InputEmail.form-control(type='email', placeholder='Enter email')
          button.btn.btn-primary#Play Play
        .col-xs-3


  script(src="/javascripts/onboarding.js", type="text/javascript")