extends layout

block content
  .container
    .starter-template
      h1 Hey! Are you male or female?
      img(src="/images/m.png", id="male")
      img(src="/images/f.png", id="female")
      .btn-group.btn-group-vertical(id="age-group")
        button.btn.age I'm under 18
        button.btn.age 18-21
        button.btn.age 21-30
        button.btn.age 30-40
        button.btn.age 40+
      h1#almost Almost there, just one more!
      form.form-horizontal#emailForm
        .control-group
          label.control-label(for='inputEmail') Email
          .controls
            input#inputEmail(type='text', placeholder='Email Address')
        .control-group
          .controls
            button#emailButton.btn(type='submit') Go!


  script(src="/javascripts/onboarding.js", type="text/javascript")