extends layout

block content
  script(type='text/javascript')
    mixpanel.track("Landing Page Loaded")
  .landingBackground
    .container
      .landingPage
        .row
          .col-xs-1.col-md-2
          .col-xs-10.col-md-6
            .caption
              ul
                li Fun Fashion Discovery
                li Find High Street gems
                li Judge what's trending
                li See if your friends agree
            br    
            button.btn.btn-custom#step1 Play
  
          .xs-col-1.col-md-4
            img.iPhone(src="/images/landingPage/blackiPhone.png")
      .onboarding
        .row
          .col-md-2
          .col-xs-12.col-md-8
            .caption
              h3#Questions Two questions before we play
              .row
                .col-md-2
                .col-xs-6.col-md-4
                  a()
                    img.female(src="/images/woman.png", id="female")
                .col-xs-6.col-md-4
                  a()
                    img.male(src="/images/man.png", id="male")
                .col-md-2
              .row(style="margin-top: 10px;")
                .col-xs-2
                .col-xs-8
                  form.age(role="form")
                    .form-group
                      //- label Age
                      select.form-control
                        option under 18
                        option 18-21
                        option 22-25
                        option 26-30
                        option 31-40
                        option 40+
                .col-xs.2
            br
            button.btn.btn-custom#step2 Enter
    //- .row
    //-   .col-xs-3
    //-   .col-xs-6
    //-     //- form(role='form', id="emailForm")
    //-     //-   .form-group
    //-     //-     input#InputEmail.form-control(type='email', placeholder='Enter email')
    //-     button.btn.btn-primary#Play Play
    //-   .col-xs-3


  script(src="/javascripts/onboarding.js", type="text/javascript")