extends headers

block content
	script(type='text/javascript')
		mixpanel.track("Landing Page Loaded November")
		mixpanel.track_links(".getApp", "Download App Main");
		mixpanel.track_links(".blog", "Visit Blog");
	.container.test
		h3(style="float: right; padding-right: 20px; font-family: 'Raleway', sans-serif; font-weight: 800; color: slategrey;") 
			a.blog(href="http://weavefashion.wordpress.com/") BLOG
		.col-xs-1.col-sm-2
		.col-xs-12.col-sm-8.test2
			.col-xs-12(style="text-align: center; margin-top: 50px")
				img.iPhone(src="/images/Design_stuff/iPhone5c.png", style="float: right;")
				img(src="images/weave-red.png", style="margin-top: 150px;")
				h2(style="margin-bottom: 40px; font-family: 'Raleway', sans-serif; color: white; font-weight: 800;" )
					| The Highstreet 
					//br
					| in your pocket.
				a.getApp(href="https://itunes.apple.com/gb/app/weave-fashion/id725215782?mt=8&ign-mpt=uo%3D4")
					btn.btn.btn-custom.download Get the App

