extends headers

block content
	.container.test
		h3(style="float: right; padding-right: 20px; font-family: 'Raleway', sans-serif; font-weight: 800; color: white;") BLOG
		.col-xs-1
		.col-xs-10.test2(style="margin-top: 8%")
			.col-xs-7(style="text-align: center; margin-top: 50px")
				img(src="images/weave-red.png")
				h2(style="margin-bottom: 40px; font-family: 'Raleway', sans-serif; color: white; font-weight: 800;" )
					| The Highstreet 
					//br
					| in your pocket
				btn.btn.btn-custom.download Download the App
			.col-xs-4
				img(src="/images/landingPage/blackiPhone.png" style="height: 500px; text-align: center")

