extends headers
  
body
  .header
    .logo
      a(href="/collections")
        img(src="/images/weave-red.png")
    .navigation
      ul
        a(href="/collections")
          li#collections-nav 
            div.icon &#59243;
            div.navItem collections
        a(href="/likes")
          li#board-nav
            div.icon &hearts;
            div.navItem board
    -if(user==null) {
    .account
      .login
        a.btn.btn-custom(href="/login") Log in
    -} else {
    .account
      .login
        a.btn.btn-custom(href="/logout") Log out
    -}
    .feedback
      a.btn.btn-primary(href="/feedback") Give us feedback
  block content
  

  script(type="text/javascript", src="http://s.skimresources.com/js/57657X1350582.skimlinks.js")
  script(type="text/javascript", src="//assets.pinterest.com/js/pinit.js") 