extends layout

block content
	script(type='text/javascript')
		mixpanel.track_links(".buy", "Buy Item");

	.container
		h1#my

		.row
			.col-xs-3
			.col-xs-6
				button.btn.btn-primary#playAgain(id="playAgain") Play Again!
			.col-xs-3
		.row
			.col-xs-3
			.col-xs-6
				button.btn.btn-primary#feedback(id="feedback") Give Some Feedback
			.col-xs-3
		#reveal




	script(src="/javascripts/likes.js", type="text/javascript")