extends layout

block content
	script(type='text/javascript')
		//mixpanel.track_links(".buy", "Buy Item");

	.container
		.myCollection
			.row
				.col-xs-5
					button.btn.btn-primary#playAgain
						span.buttonText Back to Collections
				.col-xs-2
				.col-xs-5
					button.btn.btn-primary#shareCollection(data-toggle="modal", href="#createCollection")
						span.buttonText Share my Collection
			.reveal
			h3 Come back to Weave anytime to review your collection
			.row
				.col-xs-3
				.col-xs-6
					a.btn.btn-primary#feedback
						span.buttonText Give us Feedback


		.modal.fade#createCollection
			.modal-dialog.weave-modal
				.modal-content.weave-modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
						h4.modal-title Create your first Collection
					.modal-body
						.modal-body-content
							h3 Before we let other people Weave your collection, you need to give it a name...
							form(role="form")
								.form-group
									input.form-control#collectionName(placeholder="Collection Name" required)
									label
									input.form-control#ownerName(placeholder="Your name")
									p.help-block To help your friends identify you
									input.form-control#ownerEmail(type="email", placeholder="Your email" required)
									p.help-block If you want us to send you what friends & followers like and dislike
								.form-group
									button.btn.btn-default#nameCollection(type="submit") OK
						.shareButtons
							span#emailShare
							span#twitterShare
								a(href="https://twitter.com/share", class="twitter-share-weave", style="display: none;" data-url="http://changethisshit.com", data-text="Review my Collection on Weave", data-via="weaveuk", data-count="none") Tweet
								script
									!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');



	script(src="/javascripts/likes.js", type="text/javascript")