extends layout

block content
	script(type='text/javascript')
		//mixpanel.track_links(".buy", "Buy Item");

	.container
		.row
			.col-xs-1
			.col-xs-4
				a.btn.btn-primary#playAgain
					span.buttonText Weave another Collection
			.col-xs-2
			.col-xs-4
				button.btn.btn-primary#shareCollection(data-toggle="modal", href="#createCollection")
					span.buttonText Share your Collection
			.col-xs-1
		#reveal
		h3 Come back to Weave anytime to review your collection


		.modal.fade#createCollection
			.modal-dialog.weave-modal
				.modal-content.weave-modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
						h4.modal-title Create your first Collection
					.modal-body
						h3 Before we let other people Weave your collection, you need to give it a name...
						form(role="form")
							.form-group
								input#collectionName(placeholder="Collection Name")
								span.by by
								input#ownerName(placeholder="Your name")
							.form-group
								button.btn.btn-default#nameCollection(type="submit") OK



	script(src="/javascripts/likes.js", type="text/javascript")