extends layout

block content
  .container
    h1 The big reveal
    button.btn(id="playAgain") Play Again
    button.btn(id="feedback") We'd love to here what you thought!
    hr#reveal




  script(src="/javascripts/likes.js", type="text/javascript")