extends layout

block content
	script(type='text/javascript')
		mixpanel.track("Collection Complete", {"likes": localStorage.getObj("likes"), "like count": localStorage.getObj("likes").length});
		mixpanel.track_links(".weaveAgain", "Play Again");

	.container
		.row
			.col-md-4.col-xs-1
			.col-md-4.col-xs-10
				-if(user == null) {
				a.btn.btn-custom.weaveAgain(href="/signup") Weave another Collection
				-} else {
				a.btn.btn-custom.weaveAgain(href="/collections") Weave another Collection
				-}
				a.btn.btn-primary#feedback.weaveAgain Give Us Feedback
		.reveal
		//- .row
		//- 	.col-md-4.col-xs-1
		//- 	.col-md-4.col-xs-10
		//- 		a.btn.btn-primary#feedback Give Us Feedback

		.modal.fade#weaveIntro
			.modal-dialog.weave-modal
				.modal-content.weave-modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
						h4.modal-title Product Board
					.modal-body
						.modal-body-content
							h3 This page shows the items you liked.
							ul
								li Price and brand are displayed on each product.
								li Remove items from your board by clicking &times;.
								li Go to the collections feed to weave again and find more great products for your board
							button.btn.btn-custom#closeIntro(type="button", data-dismiss="modal") Close

	script(src="/javascripts/likes.js", type="text/javascript")

		//- .modal.fade#createCollection
		//- 	.modal-dialog.weave-modal
		//- 		.modal-content.weave-modal-content
		//- 			.modal-header
		//- 				button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
		//- 				h4.modal-title Send your Collection
		//- 			.modal-body
		//- 				.modal-body-content
		//- 					h3 Before other people can review your collection, you need to name it...
		//- 					form(role="form")
		//- 						.form-group
		//- 							input.form-control#collectionName(placeholder="Collection Name" required)
		//- 							p.help-block So your friends know who this collection is from 
		//- 							label
		//- 							input.form-control#ownerName(placeholder="Your name")
		//- 							p.help-block Provide your email below so we can send you what your friends say!
		//- 							input.form-control#ownerEmail(type="email", placeholder="Your email" required)
		//- 						.form-group
		//- 							button.btn.btn-default#nameCollection(type="submit") GO
		//- 				.shareButtons
		//- 					span#emailShare
		//- 					span#twitterShare
		//- 						a(href="https://twitter.com/share", class="twitter-share-weave", style="display: none;" data-url="http://changethisshit.com", data-text="Review my Collection on Weave", data-via="weaveuk", data-count="none") Tweet
		//- 						script
		//- 							!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');