extends layout

block content
	h1 Login to Weave
	.container
		form(method="POST", action"/login")
			label(for="email") Email
				input(type="email", name="email")
			label(for-"password") Password	
				input(type="password", name="password")
			input(type="submit", name="submit", value="Sign In!")