extends layout

block content
	.container
		.row
			.col-md-2.col-xs-1
			.col-md-8.col-xs-10
				h1.signupHeader Log in with Email
				form.weave-flat-form(role="form", method="POST", action="/login")
					ul
						li
							input(type='email', name='email', placeholder='Email')
						li
							input(type='password', name='password', placeholder='Password')
					input.btn.btn-custom.signup(type='submit') Log in
					br
					a.btn.btn-facebook.signup(href="/auth/facebook") Facebook Log in
