extends layout

block content
	form(id="signup", method="POST", action="/signup")
		label(for='email') Email
		input#email(type='email', name='email')
		lable(for='password') Password
		input#password(type='password', name='password')
		input(type="submit", value="SignUp")