extends layout

block content
	.container
		.row
			.col-md-2.col-xs-1
			.col-md-8.col-xs-10
				h1#signupHeader Sign up with Email
				form.weave-flat-form
					ul
						li
							input(type='text', placeholder='Full Name')
							span Your first and last name, e.g. Chloe Donegan
						li
							input(type='email', placeholder='Email')
						li
							input(type='password', placeholder='Password')
					a.btn.btn-custom.signup Create Account
					br
					a.btn.btn-facebook.signup(href="/auth/facebook") Facebook Sign up