extends layout

block content
	.container
		.row
			.col-md-3.col-xs-1
			.col-md-6.col-xs-10
				.flat-form-container
					h1(style="text-align: center;") Register with Weave to store your likes
					form.weave-flat-form
						ul
							li
								input(type='text', placeholder='Username')
							li
								input(type='password', placeholder='Password')
							li
								input.btn-custom(type='submit', value='Login')
						a.btn.btn-facebook(href="/auth/facebook") Register With Facebook