body {
  padding: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white !important
}

a {
  color: #00B7FF;
}

.hanger {
  display: inline-block;
}

h1, h2, h3, h4 {
  color: black;
  text-align: center;
}

h2 {
  margin-top: 10px;
}

.collectionTitle {
  display: block;
  margin: 0 auto;
}

.tagline {
  font-size: 20px;
  font-style: italic;
  margin-top: 10px;
}

.onboarding {
	text-align: center;
}

img.female {
  width: 100%;
  max-width: 100px;
  height: auto;
}

img.male {
  width: 100%;
  max-width: 100px;
  height: auto;
}

#maleButton {
  margin-top: 4px;
}

#femaleButton {
  margin-top: 5px;
}

button.age {
	margin: 8px;
}

.collections {
	text-align: center;
}

button.dislike {
  width: 100%;
}

button.like {
  width: 100%;
}

#showHanger {
  width: 100%;
}

#tweet {
  width: 100%;
}

#skip {
  width: 100%;
  margin-top: 10px;
}

#reveal {
  text-align: center;
}

#playAgain{
  width: 100%;
  height: 90px;
}

#shareCollection {
  width: 100%;
  height: 90px;
}

.buttonText {
  white-space: normal;
}

.weave-modal {
  padding-top: 60px;
}

.weave-modal-content {
  background-color: white;
}

.shareLink {
  text-align: center;
  word-break: break-all;
}

.emailShare {
  margin-bottom: 11px;
  margin-right: 10px;
}

#feedback {
  width: 100%;
  margin-top: 10px;
}

.shop {
  margin: 0;
}

.explain {
  text-align: center
}

@media screen and (max-width: 480px) {
  body {
    padding: 60px 0 0 0;
  }

  .image {
    width: 100%;
    height: 250px;
  }
  .image img.product {
    display: block;
    margin: auto;
    max-height: 100%;
  }

  button.like {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }

  button.dislike {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }

  #feedback {
    padding-left: 0px;
    padding-right: 0px;
  }

  .likeImage {
  max-height: 100px;
  max-width: 80px;
  padding: 5px;
  }

  .buy{
  margin-top: 31px;
  margin-right: 5px;
  }

  .buttonText {
    font-size: 12px;
  }
}
@media screen and (min-width: 481px) {
  .image {
    width: 100%;
    height: 350px;
  }
  .image img.product {
    display: block;
    margin: auto;
    max-height: 100%;
  }
  .likeImage {
  max-height: 150px;
  width: auto;
  padding: 5px;
  }
  .buy, .delete{
  margin-top: 56px;
  }
  .delete {
    margin-left: 4px;
  }
  .buttonText {
    font-size: 20px;
  }

}


#female {
  cursor:pointer
}

#male {
  cursor:pointer
}

#giveEmail {
  width: 100%;
}



/* Css for changing navbar to black on bootstrap
/* .navbar {
  background-color: #000; /* background color will be black for all browsers 
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar a, .navbar li {
	color: white; !important
} */

