body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white !important;
}

@font-face {
  font-family: gandhiBold;
  src: url("/fonts/gandhi/gandhiBold.otf");
}

@font-face {
  font-family: cantarell;
  src: url("/fonts/cantarell/Cantarell-Regular.ttf");
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4 {
  color: black;
  font-family: cantarell;
}

/*
===========================================
                Header
===========================================
*/

.header {
  width: 100%;
  height: 80px;
  background-color: #2ecc71;
  border-bottom: 6px solid #27ae60;
}

.logo {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 4px;
}

.hanger {
  z-index: 10;
  position: absolute;
  right: 5px;
  top: 30px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.hanger:hover {
  text-decoration: none;
}

.hanger img {
  width: 18px;
  padding-bottom: 3px;
}

#showHanger {
  width: 100%;
}

/*
===========================================
              Landing Page
===========================================
*/

.landing {
  margin: 0px;
  min-width: 100% !important;
  height: 1000px;
  background: url('/images/landingPage/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
  overflow: hidden;
}

.caption {
  z-index: 10;
  background-image: url("/images/landingPage/heroBack.png");
  border-radius: 1em;
  display: block;
  margin: auto;
  width: 90%;
  margin-top: 40px;
}

.caption ol {
  color: #ccc;
  list-style-type: none;
  padding-top: 5%;
  cursor: pointer;
}
 
.caption ol li {
  position: relative;
  font-family: cantarell;
  font-size: 45px;
  color: #e74c3c;
  margin-bottom: 20px;
}
 
.caption li p {
  padding-top: 10px;
  font-family: cantarell;
  font-size: 35px;
  padding-left: 60px;
  color: #e74c3c;
}
 
.caption span {
  position: absolute;
}

.iPhone{
  max-width: 100%;
  height: auto;
  max-height: 300px;
  cursor: pointer;
}

.goLogo {
  margin-top: 5px;
  text-align: center;
}

.goLogo img {
  max-width: 150px;
  cursor: pointer;
}

/*
===========================================
              Onboarding
===========================================
*/

.onboarding {
  text-align: center;
}

.collectionTitle {
  display: block;
  margin: 0 auto;
}

.intro {
  margin-top: -8px;
}

.tagline {
  font-size: 15px;
  font-style: italic;
  margin-top: -10px;
  color: grey;
}

img.female {
  width: 100%;
  max-width: 100px;
  height: auto;
}

img.male {
  width: 100%;
  max-width: 100px;
  height: auto;
}

#maleButton {
  margin-top: 4px;
}

#femaleButton {
  margin-top: 5px;
}

button.age {
	margin: 8px;
}

/*
===========================================
          Collections List
===========================================
*/

.collectionsImage {
  height: 200px;
  text-align: center;
}

.collectionsImage img {
  margin-top: 25px;
  height: 150px;
}

.collectionsInfo {
  text-align: left;
}

.collectionsDescription {
  font-size: 13px;
  font-style: italic;
  color: grey;
}

.collectionsProgress {
  max-width: 75%;
}

/*
===========================================
          Weave Collection
===========================================
*/

.collection {
  padding-top: 20px;
	text-align: center;
}

/*button.dislike {
  width: 100%;
}

button.like {
  width: 100%;
}*/

.likeHeart {
  width: 100px;
  cursor: pointer;
}

.dislikeCross {
  width: 100px;
  cursor: pointer;
}

#tweet {
  width: 100%;
}

#skip {
  width: 100%;
  margin-top: 10px;
}

#reveal {
  text-align: center;
}

#playAgain{
  width: 100%;
  height: 90px;
}

#shareCollection {
  width: 100%;
  height: 90px;
}

.buttonText {
  white-space: normal;
}

.weave-modal {
  padding-top: 60px;
}

.weave-modal-content {
  background-color: white;
}

.shareLink {
  text-align: center;
  word-break: break-all;
}

.emailShare {
  margin-bottom: 11px;
  margin-right: 10px;
}

#feedback {
  width: 100%;
  margin-top: 10px;
}

.shop {
  margin: 0;
}

.explain {
  text-align: center
}

@media screen and (max-width: 480px) {
  body {
    padding: 0px 0 0 0;
  }

  .header {
    height: 40px;
    background-color: #2ecc71;
    border-bottom: 3px solid #27ae60;
  }

  .logo {
    height: 35px;
  }

  .hanger {
    z-index: 10;
    position: absolute;
    right: 5px;
    top: 15px;
  }

  .myCollection {
    display: none;
  }

  .iPhone {
    display: none;
  }

  .caption ol {
    padding-left: 25px;
  }

  .caption ol li {
  font-size: 23px;
  margin-bottom: 10px;
}

  .caption li p {
    font-size: 18px;
    padding-left: 30px;
    padding-top: 4px;
  }

  .image {
    width: 100%;
    height: 250px;
  }
  .image img.product {
    display: block;
    margin: auto;
    max-height: 100%;
  }

  button.like {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }

  button.dislike {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }

  #feedback {
    padding-left: 0px;
    padding-right: 0px;
  }

  .likeImage {
  max-height: 100px;
  max-width: 80px;
  padding: 5px;
  }

  .buy{
  margin-top: 31px;
  margin-right: 5px;
  }

  .buttonText {
    font-size: 12px;
  }
}
@media screen and (min-width: 481px) {
  .image {
    width: 100%;
    height: 350px;
  }
  .image img.product {
    display: block;
    margin: auto;
    max-height: 100%;
  }
  .likeImage {
  max-height: 150px;
  width: auto;
  padding: 5px;
  }
  .buy, .delete{
  margin-top: 56px;
  }
  .delete {
    margin-left: 4px;
  }
  .buttonText {
    font-size: 20px;
  }

}


#female {
  cursor:pointer
}

#male {
  cursor:pointer
}

#giveEmail {
  width: 100%;
}



/* Css for changing navbar to black on bootstrap
/* .navbar {
  background-color: #000; /* background color will be black for all browsers 
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar a, .navbar li {
	color: white; !important
} */

