html {
  height: 100%;
}

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white !important;
  height: 100%;
}

@font-face {
  font-family: gandhiBold;
  src: url("/fonts/gandhi/gandhiBold.otf");
}

@font-face {
  font-family: cantarell;
  src: url("/fonts/cantarell/Cantarell-Regular.ttf");
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4 {
  color: black;
  font-family: cantarell;
}

/*
===========================================
                Header
===========================================
*/

.header {
  width: 100%;
  height: 80px;
  background-color: #fff8f0;
  border-bottom: 2px solid lightgrey;
}

.logo {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 5px;
  height: 70px;
}

.hanger {
  z-index: 10;
  position: absolute;
  right: 5px;
  top: 30px;
  text-decoration: none;
  font-weight: bold;
  color: grey;
}

.hanger:hover {
  text-decoration: none;
}

.hanger img {
  width: 18px;
  padding-bottom: 3px;
}

/*
===========================================
              Landing Page
===========================================
*/

.landingBackground {
  margin: 0px;
  min-width: 100% !important;
  background: url('/images/landingPage/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  height: 100%;
}

.caption {
  z-index: 10;
  background-image: url("/images/landingPage/heroBack.png");
  border-radius: 1em;
  display: block;
  margin: auto;
  width: 90%;
  margin-top: 110px;
}

.caption ul {
  color: #ccc;
  list-style: none;
  display: block;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
 
.caption ul li {
  font-family: cantarell;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 15px;
}

.iPhone{
  height: 530px;
  width: auto;
  cursor: pointer;
  padding-top: 30px;
}

#step1 {
  width: 80%;
  height: 90px;
  display: block;
  margin: auto;
  font-size: 40px;
}

#step2 {
  width: 80%;
  height: 90px;
  display: block;
  margin: auto;
  font-size: 40px;
}

/* Twitter button restyle */

.btn-custom {
  background-color: #ef3a42;
  border-color: #ef3a42;
  color: white;
  font-family: cantarell;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #ed222b;
  border-color: #e4121c;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #ef3a42;
  border-color: #ef3a42;
}

/*
===========================================
              Onboarding
===========================================
*/

.onboarding {
  text-align: center;
}

.collectionTitle {
  display: block;
  margin: 0 auto;
}

.intro {
  margin-top: -8px;
}

.tagline {
  font-size: 15px;
  font-style: italic;
  margin-top: -10px;
  color: grey;
}

#Questions {
  color: white;
  padding-top: 10px;
}

img.female {
  width: 100%;
  max-width: 100px;
  height: auto;
}

img.male {
  width: 100%;
  max-width: 100px;
  height: auto;
}

#maleButton {
  margin-top: 4px;
}

#femaleButton {
  margin-top: 5px;
}

.age {
  padding: 10px 0 10px 0;
}

/*
===========================================
          Collections List
===========================================
*/

.collectionsImage {
  height: 200px;
  text-align: center;
}

.collectionsImage img {
  margin-top: 25px;
  height: 150px;
}

.collectionsInfo {
  text-align: left;
}

.tagline {
  margin-bottom: 0px;
}

.progress {
  background-color: white;
  border: solid 1px black;  
}

.progress-bar-success {
  background-color: #2ecc71;
}

.collectionsProgress {
  max-width: 75%;
}

.collectionsAuthor {
  text-align: right;
  font-size: 13px;
  font-style: italic;
  color: grey;
}

.collectionsPlay {
  text-align: center;
  height: 200px;
}

.playButton {
  margin-top: 81px;
  width: 80%;
}

.createCollection {
  width: 100%;
  margin-bottom: 30px;
}

/*
===========================================
          Weave Collection
===========================================
*/

.collection {
	text-align: center;
}

.collection h2 {
  margin-top: 10px;
}

/*button.dislike {
  width: 100%;
}

button.like {
  width: 100%;
}*/

.likeHeart {
  width: 100px;
  cursor: pointer;
}

.dislikeCross {
  width: 100px;
  cursor: pointer;
}

/*
===========================================
          My Collection
===========================================
*/

.myCollection {
  margin-top: 10px;
}

.myCollection h3 {
  text-align: center;
}

.reveal {
  text-align: center;
}

#tweet {
  width: 100%;
}

#skip {
  width: 100%;
  margin-top: 10px;
}

#playAgain{
  width: 100%;
  height: 90px;
}

#shareCollection {
  width: 100%;
  height: 90px;
}

.buttonText {
  white-space: normal;
}

.weave-modal {
  padding-top: 60px;
}

.weave-modal-content {
  background-color: white;
}

.shareLink {
  text-align: center;
  word-break: break-all;
}

.emailShare {
  margin-bottom: 11px;
  margin-right: 10px;
}

#feedback {
  width: 100%;
  margin-top: 10px;
}

.shop {
  margin: 0;
}

.explain {
  text-align: center
}

/*
===========================================
          Mobile Phone Styling
===========================================
*/

@media screen and (max-width: 480px) {
  body {
    padding: 0px 0 0 0;
  }

  .header {
    height: 40px;
    border-bottom: 1px solid lightgrey;
  }

  .logo {
    height: 35px;
  }

  .hanger {
    z-index: 10;
    position: absolute;
    right: 5px;
    top: 15px;
  }

  .collectionTag {
    display: none;
  }

  .iPhone {
    display: none;
  }

  .caption {
    margin-top: 20px;
  }

  .caption ul {
    padding-left: 25px;
  }

  .caption ul li {
  font-size: 20px;
  margin-bottom: 10px;
  }

  .collectionsImage {
    padding: 0px;
    width: 5px;
  }

  .collectionsImage img {
    display: none;
  }

  .playButton {
  width: 100%;
  }

  .image {
    width: 100%;
    height: 220px;
  }
  .image img.product {
    display: block;
    margin: auto;
    max-height: 100%;
  }

  .likeHeart {
  width: 75px;
  cursor: pointer;
  }

  .dislikeCross {
    width: 75px;
    cursor: pointer;
  }

  #feedback {
    padding-left: 0px;
    padding-right: 0px;
  }

  .likeImage {
  max-height: 100px;
  max-width: 80px;
  padding: 5px;
  }

  .buy{
  margin-top: 31px;
  margin-right: 5px;
  }

  .buttonText {
    font-size: 12px;
  }
}

/*
===========================================
          Tablet styling
===========================================
*/
@media screen and (max-width: 767px) {
  .iPhone {
    display: none;
  }
}



@media screen and (min-width: 768px) {
  .image {
    width: 100%;
    height: 350px;
  }
  .image img.product {
    display: block;
    margin: auto;
    max-height: 100%;
  }
  .likeImage {
  max-height: 150px;
  width: auto;
  padding: 5px;
  }
  .buy, .delete{
  margin-top: 56px;
  }
  .delete {
    margin-left: 4px;
  }
  .buttonText {
    font-size: 20px;
  }

}


#female {
  cursor:pointer
}

#male {
  cursor:pointer
}

#giveEmail {
  width: 100%;
}



/* Css for changing navbar to black on bootstrap
/* .navbar {
  background-color: #000; /* background color will be black for all browsers 
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar a, .navbar li {
	color: white; !important
} */

